body{
  //padding: 50px;
  background-color: #aabbcc;  
  background-color: #a1cae8;    
  font:24px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}
.apps{
    font-size: 32px;
}
 a, .apps, .mm{
  color: #000088;
  font-family: fantasy;
}
a:visited  {
    
    text-decoration: none;
}
.mm{
    font-size: 120%;
}
p, h1 {
    color: blue;
    font-size: 36px;
}

.jumbotron{
 background-color: lightgray;
 background-image: url(../images/hiking5.jpg);
 background-position: 0% 0%;
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.74;
 color: lightgreen;
 font-family: cursive;
}
container {
    width: 100%;
}
.container{
     width: 80%;
}
img{
    height: 120px;
    width:auto;
    align-content: center;
}