body{
  //padding: 50px;
  background-color: #aabbcc;  
  background-color: #a1cae8;
  /*background-image: url(..//images/hiking5.jpg);
  background-repeat: none;
  opacity: 0.74;*/
  font:24px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}
.apps{
    font-size: 32px;
}
 a, .apps, .mm, p{
  color: #000088;
  font-family: fantasy;
}
a:visited  {
    
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: aliceblue;
}
a.ff:hover{
    color: lightgreen;
}
/*.text{
    color: aliceblue;
}*/
.mm{
    font-size: 120%;
}
.ff{
    font-size: 150%;
    color:aliceblue;
}
 h1 {
    color: blue;
    font-size: 36px;
}

.jumbotron{
 background-color: lightgray;
 background-image: url(../images/hiking5.jpg);
 background-position: 0% 0%;
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.74;
 color: lightgreen;
 font-family: cursive;
}

footer{
    padding:40px;
    background-image: url(../images/hiking2.jpg);
}
#linked{
    margin-left: 44%;
}
container {
    width: 100%;
}
.container{
     width: 80%;
    padding-bottom: 50px;
}
img{
    height: 120px;
    width:auto;
    align-content: center;
}