body{
  //padding: 50px;
  background-color: #aabbcc;  
  font:24px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}
h2, a, #android{
  color: #000088;
  font-family: fantasy;
}
p, h1 {
    color: blue;
    font-size: 36px;
}

.jumbotron{
 background-color: lightgray;
 background-image: url(../images/hiking5.jpg);
 background-position: 0% 0%;
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.74;
 color: lightgreen;
 font-family: cursive;
}
container {
    width: 100%;
}
.container{
     width: 90%;
}
img{
    height: 120px;
    width:auto;
    padding-left: 40px;
}