body{
  padding: 50px;
  background-color: deepskyblue;  
  font:24px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: cursive;
}
a{
  color: #000088;
  font-family: fantasy;
}
p, h1 {
    color: blue;
}